@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims;
@{
    ViewData["Title"] = "ShortCode";
    var usernameClaim = User.Claims.FirstOrDefault(c => c.Type == "username").Value;
    var userEmailClaim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email).Value;
    var user_id = User.Claims.FirstOrDefault(c => c.Type == "UUID").Value;
}

<div class="bg-primary bg-gradient">
    <div class="container">
        <div class="row pb-5">
            <div class="col">
                <h1 class="p-5 text-light">Welcome @usernameClaim</h1>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-4">
    <div class="container">
        <div class="row mt-n5 mb-4">
            <div class="card bg-white py-5">
                <div class="card-body">
                    <h3>Create New</h3>

                    @await Html.PartialAsync("_UrlSubmission")
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("ShortUrl", new { user_id = @user_id })
    </div>
</div>


