@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container bg-gradient bG-primary">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

